.navbar {
  min-height: 50px;
  background: #333;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.barright{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  grid-column: 1 / 2;
  padding: 5px;
}

.barright div{
  display: flex;
  align-items: center;
}

.barright .rounded-md a {
  width: 100%;
  height: 100%;
}